*{
	padding: 0;
	margin: 0;

}
.main{
	background:#1d1d1d;
	width: 100%;
	height: 100vh;
	display: inline-flex;
}
#editor-textarea{
	width: 100%;
	height: 95vh;
	background:#000000;
	color: #39ff14;
	margin: 10px;
	border: 1px solid #39ff14;
	padding: 5px;
}
#viewer{
	background: white;
	border: none;
	width: 100%;
	height: 95vh;
	margin: 10px;
	border: 1px solid #808080;
}
